{
  "env": {
    "es6": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "afterEach": "readonly",
    "beforeEach": "readonly",
    "describe": "readonly",
    "it": "readonly",
    "jest": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "useJSXTextNode": true,
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "react-hooks"],
  "rules": {
    "class-methods-use-this": "off",
    "object-shorthand": "error",
    "@typescript-eslint/array-type": "off",
    "@typescript-eslint/camelcase": [
      "error",
      {
        "properties": "never"
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/await-thenable": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*test.tsx",
          "**/*spec.tsx",
          "**/*test.ts",
          "**/*spec.ts",
          "test/*.js"
        ]
      }
    ],
    "import/no-unresolved": 0,
    "import/prefer-default-export": "off",
    "max-classes-per-file": "error",
    "max-depth": ["error", {"max": 2}],
    "no-else-return": "error",
    "no-nested-ternary": "error",
    "no-param-reassign": "error",
    "no-underscore-dangle": "error",
    "no-return-await": "error",
    "no-return-assign": "error",
    "no-shadow": "off",
    "no-unused-expressions": "off",
    "spaced-comment": "error",
    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": "error",
    "react/destructuring-assignment": "error",
    "react/jsx-curly-newline": "off",
    "react/jsx-filename-extension": ["error", {"extensions": [".jsx", ".tsx"]}],
    "react/jsx-max-depth": ["error", {"max": 5}],
    "react/jsx-no-bind": "error",
    "react/jsx-props-no-spreading": "off",
    "react/no-array-index-key": "error",
    "react/prefer-stateless-function": "error",
    "react/state-in-constructor": "off",
    "react/no-did-update-set-state": "error",
    "react/prop-types": "off",
    "react/jsx-wrap-multilines": "off",
    "require-await": "error",
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/no-inferrable-types": "error",
    "@typescript-eslint/no-unused-expressions": [
      "error",
      {"allowShortCircuit": true, "allowTernary": true}
    ],
    "no-unneeded-ternary": "error",
    "no-multi-str": "off",
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "react-native",
            "importNames": ["Text", "TextInput"],
            // TODO: Fix
            "message": "Please import 'Text' or 'TextInput' from '@components/UI/Text' instead."
          }
        ]
      }
    ]
  },
  "settings": {
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"],
    "import/resolver": {
      "babel-module": {},
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"]
      }
    }
  },
  "overrides": [
    {
      "files": "*.spec.*",
      "rules": {
        "@typescript-eslint/no-unused-expressions": "off"
      }
    }
  ]
}
